<div class="container">
  <div class="row">
    <div class="col-md-12 align-self-center">

      <div class="container">
        <div class="row row-margin">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <app-sheet-detail-character-info></app-sheet-detail-character-info>
          </div>
        </div>
        <div class="row row-margin">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <app-sheet-detail-ability-scores [(allAbilityScores)]="allAbilityScores"></app-sheet-detail-ability-scores>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <app-sheet-detail-skills [allAbilityScores]="allAbilityScores"></app-sheet-detail-skills>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
