<th scope="row">{{abilityType}}</th>
<td><input type="number"
           class="form-control form-control-sm"
           name="{{abilityType | lowercase}}Score"
           [(ngModel)]="abilityScoresForType.score"
           (change)="onScoreChange()"
           required></td>
<td>{{abilityScoresForType.modifier}}</td>
<td><input type="number"
           class="form-control form-control-sm"
           name="{{abilityType | lowercase}}UpgradedScore"
           [(ngModel)]="abilityScoresForType.upgradedScore"
           (change)="onUpgradedScoreChange()"
           required></td>
<td>{{abilityScoresForType.upgradedModifier}}</td>


