<div class="container">
  <div class="row row-full-height">
    <div class="col-md-10 offset-md-1 align-self-center">

      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 mr-auto" *ngFor="let sheet of sheets; let sheetIndex = index">
            <div class="card text-white bg-dark">
              <div class="sheet-overview-bar sheet-overview-bar-color-{{sheetIndex % 5 + 1}}"></div>
              <div class="card-body">
                <h5 class="card-title">{{sheet.name}}</h5>
                <p class="card-text">{{sheet.description}}</p>
                <button class="btn btn-warning" (click)="navigateToDetail(sheet.id)">Open <span class="fas fa-pen"></span></button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
