<div class="card text-white bg-dark">
  <div class="card-header">
    <h3 class="card-title">Ability scores</h3>
  </div>
  <div class="card-body">

    <table class="table table-dark">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Score</th>
        <th scope="col">Modifier</th>
        <th scope="col">Score (+)</th>
        <th scope="col">Modifier (+)</th>
      </tr>
      </thead>
      <tbody>
        <tr app-ability-score-line [abilityType]="'STR'" [(abilityScoresForType)]="abilityScores.strength"></tr>
        <tr app-ability-score-line [abilityType]="'DEX'" [(abilityScoresForType)]="abilityScores.dexterity"></tr>
        <tr app-ability-score-line [abilityType]="'CON'" [(abilityScoresForType)]="abilityScores.constitution"></tr>
        <tr app-ability-score-line [abilityType]="'INT'" [(abilityScoresForType)]="abilityScores.intelligence"></tr>
        <tr app-ability-score-line [abilityType]="'WIS'" [(abilityScoresForType)]="abilityScores.wisdom"></tr>
        <tr app-ability-score-line [abilityType]="'CHA'" [(abilityScoresForType)]="abilityScores.charisma"></tr>
      </tbody>
    </table>

  </div>
  <div class="card-footer text-right">
    <a (click)="logInfo()" class="btn btn-warning btn-lg btn-block">Save</a>
  </div>
</div>
