<div class="card text-white bg-dark">
  <div class="card-header">
    <h3 class="card-title">Ability scores</h3>
  </div>
  <div class="card-body">

    <table class="table table-dark">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Score</th>
        <th scope="col">Modifier</th>
        <th scope="col">Score (+)</th>
        <th scope="col">Modifier (+)</th>
      </tr>
      </thead>
      <tbody>
        <tr app-ability-score-line [abilityType]="'STR'" [(abilityScoresForType)]="abilityScores.strength"></tr>
        <tr app-ability-score-line [abilityType]="'DEX'" [(abilityScoresForType)]="abilityScores.dexterity"></tr>
        <tr app-ability-score-line [abilityType]="'CON'" [(abilityScoresForType)]="abilityScores.constitution"></tr>
        <tr app-ability-score-line [abilityType]="'INT'" [(abilityScoresForType)]="abilityScores.intelligence"></tr>
        <tr app-ability-score-line [abilityType]="'WIS'" [(abilityScoresForType)]="abilityScores.wisdom"></tr>
        <tr app-ability-score-line [abilityType]="'CHA'" [(abilityScoresForType)]="abilityScores.charisma"></tr>
      </tbody>
    </table>

  </div>
  <div class="card-footer text-right">
    <button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#debugModal">
      Save (now debug output)
    </button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="debugModal" tabindex="-1" role="dialog" aria-labelledby="debugModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="debugModelLabel">Debug info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{debugInfo()}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
